body, html {
  background-color: black;
	margins: 0;
	height: 100%;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}
b {
  color: Firebrick;
}
a {
  color: #F8F8FF;
}
h1 {
  color: firebrick;
}
p {
  color: ghostwhite;
}
li {
  list-style: square;
  color: #F8F8FF;
}
ol {
  color: ghostwhite;
}
ul {
  color: ghostwhite;
}
