body, html {
  background-color: black;
	margins: 0;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box {
	background-color: #fffbcc;
	color: #777;
	font-size: 14px;
	line-height: 23px;
	padding: 13px 16px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box .badge {
	background-color: #f58f2a;
	border-radius: 3px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}
iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}
b {
  color: Firebrick;
}
a {
  color: #F8F8FF;
}
h1 {
  color: firebrick;
}
p {
  color: ghostwhite;
}
li {
  list-style: square;
  color: #F8F8FF;
}
ol {
  color: ghostwhite;
}
ul {
  color: ghostwhite;
}
